body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.nav-padding {
    padding: 2vw;
}
.bg-green {
    background-color: #AED24C;
    color: white;
}
.text-green-nav {
    font-family: Roboto, sans-serif;
    color: #fff;
}
.enroll {
    font-family: Roboto, sans-serif;
    font-weight: 100;
}
.bg-header {
    background-image: url('bg-header.jpg');
    background-position: center 20%;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 40vh; */
}
.welcome {
    color: hsla(0, 0%, 100%, 0.63);
    /* font-weight: 700; */
}
#carousel {
    height: 30vh;
    background-color: #DDDDDD;
}
.main {
    flex: 1;
}
.margin {
    margin: 20px;
}
.border-green {
    border-bottom: 5px solid #a6ce39;
}
.text-blue {
    color: #5478b9;
}
.text-orange {
    color: #f4863c;
}
.text-gray {
    color: #e8e8e8;
}
.bg-gray {
    background-color: #e8e8e8;
}
.card-container {
    height: 50vh;
    display: flex !important;
    align-items: center !important;
}
.bg-card {
    background-color: #f5f5f6;
}
.text-shadow {
    color: white;
    text-shadow: 2px 2px 0 rgb(128, 128, 128);
}
footer {
    border-bottom: 30px solid #808285;
    /* position: sticky;
    bottom: 0;
    width: 100vw; */
}
.wrap {
    line-break: anywhere;
}
.padding {
    padding: 0 6.5vw;
}
.margin {
    max-width: 1200px;
    margin: 0 auto;
}
#footer-new {
    border-bottom: none !important;
}
#footer-main {
    padding: 2% 20% 5%;
}
/* #help-box {
    padding-right: 130px;
} */
#call-box {
    margin-top: 2.2em;
}
.call {
    color: white;
    font-size: 120px;
    /* line-height: 100px; */
    font-weight: 600;
    /* margin: 200px auto; */
}
.needHelp {
    display: block;
    font-size: 50px;
    color: #808285;
    opacity: 0.61;
    line-height: 34px;
    font-weight: bold;
}
.padding-box {
    padding: 10px;
    border-top: 7px solid;
}
.b-purple {
    border-color: #9f6eaf;
}
.b-yellow {
    border-color: #ffc20e;
}
.b-blue {
    border-color: #57b6e3;
}
.b-green {
    border-color: #a6ce39;
}
.b-dgreen {
    border-color: #00b37d
}
.b-orange {
    border-color: #f38231;
}
.wellness-cols-border {
    border-right: 2px solid #dddddd;
}
.footer-main-text {
    color: #000;
    font-size: 30px;
    opacity: 0.5;
    font-weight: bold;
    line-height: 33px;
}
.border-bottom {
    border-bottom: 2px solid gray;
}

/* Hex Grid */

/* .hex {
    float: left;
    margin-right: -40px;
    margin-bottom: -75px; 
}
.hex .left {
    float: left;
    width: 0;
    border-right: 46px solid #6C6;
    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent;
}
.hex .middle {
    float: left;
    width: 92px;
    height: 160px;
    background: #6C6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.hex .right {
    float: left;
    width: 0;
    border-left: 46px solid #6C6;
    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent;
}
.hex-row {
    clear: left;
}
.hex-row .even {
    margin-top: 80px;
}
.last-row {
    margin-left: 143px;
}
.last-row .hex {
    margin-right: 105px;
    margin-top: 0px;
} */


@media screen and (max-width: 767px) {
    .mphone {
        margin-bottom: 10px !important;
    }
    .padding {
        padding: 0 5vw;
    }
    .margin {
        width: 90%;
        margin-right: 0;
        margin-left: auto;
    }
    .footer-main-text {
        font-size: 24px;
    }
    .needHelp {
        font-size: 34px;
        line-height: auto;
    }
    #call-box {
        margin-top: auto;
    }
    .call {
        font-size: 60px;
        line-height: auto;
    }
    #footer-main {
        padding: 2% auto 5%;
    }
}
@media screen and (max-width: 576px) {
    .bg-header {
        justify-content: center;
    }
    .main-heading, .welcome {
        font-size: 55px !important;
    }
    .main-text {
        font-size: 40px !important;
    }
    footer {
        text-align: center;
    }
    #help {
        margin-bottom: 10px !important;
    }
    .pxphone {
        padding: 0 10px !important;
    }
    #footer-main {
        padding: 2% 0 5%;
        text-align: start !important;
    }
}