body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.nav-padding {
    padding: 2vw;
}
.bg-green {
    background-color: #AED24C;
    color: white;
}
.text-green-nav {
    font-family: Roboto, sans-serif;
    color: #fff;
}
.enroll {
    font-family: Roboto, sans-serif;
    font-weight: 100;
}
.bg-header {
    background-image: url('bg-header.jpg');
    background-position: center 20%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}
.welcome {
    color: hsla(0, 0%, 100%, 0.63);
    /* font-weight: 700; */
}
#carousel {
    height: 30vh;
    background-color: #DDDDDD;
}
.main {
    flex: 1;
}
.margin {
    margin: 20px;
}
.border-green {
    border-bottom: 5px solid #a6ce39;
}
.text-blue {
    color: #5478b9;
}
.text-orange {
    color: #f4863c;
}
.text-gray {
    color: #e8e8e8;
}
.bg-gray {
    background-color: #e8e8e8;
}
.card-container {
    height: 50vh;
    display: flex !important;
    align-items: center !important;
}
.bg-card {
    background-color: #f5f5f6;
}
.text-shadow {
    color: white;
    text-shadow: 2px 2px 0 rgb(128, 128, 128);
}
footer {
    border-bottom: 30px solid #808285;
    /* position: sticky;
    bottom: 0;
    width: 100vw; */
}
.wrap {
    line-break: anywhere;
}
.padding {
    padding: 0 6.5vw;
}
@media screen and (max-width: 767px) {
    .mphone {
        margin-bottom: 10px !important;
    }
    .padding {
        padding: 0 5vw;
    }
}
@media screen and (max-width: 576px) {
    .bg-header {
        justify-content: center;
    }
    .main-heading, .welcome {
        font-size: 55px !important;
    }
    .main-text {
        font-size: 40px !important;
    }
    footer {
        text-align: center;
    }
    #help {
        margin-bottom: 10px !important;
    }
    .pxphone {
        padding: 0 10px !important;
    }
}
